.container {
    max-width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1565c0;
}

.date-box, .today-box, .day-box {
    background: #bbdefb;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
.today-box strong, .day-box strong {
    color: #0b417f;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

.today-box small, .day-box small {
    color: #3277c7;
    font-size: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #90caf9;
    padding: 5px;
    margin: 10px 0;
    border-radius: 3px;
}

.passed {
  opacity: 0.5;
}

.happening-now {
  opacity: 1;
  border: 2px solid green;
}

#group-select{
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #90caf9;
    background: #bbdefb;
    color: #0b417f;
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 430px) {
    .container {
        max-width: 100%;
        padding: 15px;
    }
    
    .date-box, .today-box, .day-box {
        padding: 8px;
    }
    
    li {
        padding: 4px;
    }
}
